mysqlclient
pymysql
asgiref==3.8.1
cairocffi==1.7.1
CairoSVG==2.5.2
cffi==1.17.1
cssselect2==0.4.1
defusedxml==0.7.1
html5lib==1.1
Pillow==11.2.1
pycparser==2.20
PyMySQL==1.0.2
Pyphen==0.10.0
pytz==2021.1
six==1.16.0
sqlparse==0.4.1
tinycss2==1.1.0
webencodings==0.5.1
